.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.nav_black {
    background-color: #111;
}

.nav_heading {
    color: red;
    letter-spacing: 2px;
}

.nav_avatar {
    color: cyan;
    font-size: 2rem;
    display: grid;
    place-content: center;
}